legend {
    background-color: #000;
    color: #fff;
    padding: 3px 6px;
	font-family: "Open Sans", sans-serif;
}

label {
    margin-top: 1rem;
    font-size: .8rem;
	font-family: "Open Sans", sans-serif;
    display: block;
}

span {
    font-size: 1.6rem;
	font-family: "Open Sans", sans-serif;
	vertical-align: top;
	margin: 2mm;
    /* display: block; */
}

.labelWithElement {
	float:left;
	margin-left: 2mm;
	margin-right: 2mm;
}

input[type='button'] {
	float:left;
    font-size: 1.2rem;
	font-family: "Open Sans", sans-serif;
	margin-top: 2mm;
	margin-bottom: 2mm;
	margin-left: 2mm;
	margin-right: 2mm;
}
